<html>

  <head>
    <meta content="width=device-width" name="viewport" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <title>Hello World!</title>

    <style type="text/css">

    </style>
  </head>

  <body>
    <div class="">
      <div class="aHl">
      </div>
      <div id=":ot" tabindex="-1">
      </div>
      <div
        id=":p6"
        class="ii gt"
        jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0."
      >
        <div id=":p7" class="a3s aiL">
          <u></u>

          <table
            width="100%"
            cellspacing="0"
            cellpadding="0"
            style="margin:0;padding:0;width:100%;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif"
          >
            <tbody>
              <tr style="margin:0;padding:0">
                <td style="margin:0;padding:0">
                </td>
                <td
                  bgcolor="#F6F6F6"
                  style="margin:0 auto!important;padding:0;background:#f6f6f6;display:block!important;max-width:800px!important;clear:both!important"
                >
                  <br style="margin:0;padding:0" />
                  <div
                    style="margin:0 auto 15px;padding:0;max-width:600px;border-radius:3px;display:block;background:#fff"
                  >
                    <div style="margin:0;padding:0 0px">

                      <table
                        cellspacing="0"
                        cellpadding="0"
                        style="margin:0;padding:0;width:100%"
                      >
                        <tbody>
                          <tr style="margin:0;padding:0">
                            <td style="margin:0;padding:0">
                            </td>
                            <td
                              bgcolor="#fff"
                              style="margin:0 auto!important;padding:15px 0;background:#fff;border-bottom:1px solid #e9e9e9;display:block!important;max-width:800px!important;clear:both!important"
                            >
                              <table
                                width="100%"
                                cellspacing="0"
                                cellpadding="0"
                                style="margin:0;padding:0"
                              >
                                <tbody>
                                  <tr style="margin:0;padding:0">
                                    <td
                                      valign="top"
                                      align="center"
                                      width="100"
                                      style="margin:0;padding:0"
                                    >
                                      <img
                                        alt="Swiggy"
                                        style="width:120px;margin:10px 0;padding:0;max-width:100%"
                                        src="https://ci4.googleusercontent.com/proxy/3slaTJYa4OwfZ28U7y4tQ7mj3EOfoA1U_qsHhe6RcwejEkjAX_XIiN4QvtNXM8eTcJbo2SWhdfcInEl4Ei8rAE2TAuTYXrleJsmaAX5A0aWV1RTQjaNrbXvLetbfMjdINyD0Qng1RjCmdabzehh79S-ET91yA6c=s0-d-e1-ft#https://res.cloudinary.com/swiggy/image/upload/f_auto,fl_lossy,q_auto/v1447855171/Swiggy-logo_yc2umc"
                                        class="CToWUd"
                                        data-bit="iit"
                                      />
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td style="margin:0;padding:0">
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                    <div style="margin:0;padding:0 15px">
                      <table
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        style="margin:0;padding:0"
                      >
                        <tbody>
                          <tr style="margin:0;padding:0">
                            <td style="margin:0;padding:0">
                              <br style="margin:0;padding:0" />

                              <p
                                style="margin:0;padding:0;margin-bottom:5px;color:#585858;font-weight:400;font-size:13px;line-height:1.6"
                              >
                                Greetings from Swiggy
                              </p>
                              <p
                                style="margin:0;padding:0;margin-bottom:5px;color:#585858;font-weight:400;font-size:13px;line-height:1.6"
                              >
                                <span>Your order was delivered in 29 minutes!
                                  Rate this lightning fast delivery
                                </span><a
                                  href="https://swiggy.onelink.me/eraU?pid=EMAIL&amp;c=speed_reliability&amp;af_dp=swiggy%3A%2F%2Frating%3Forder_id%3D147369536795%26rating_type%3Ddelivery%26rating_source%3Demail&amp;af_force_deeplink=true&amp;is_retargeting=true&amp;af_web_dp=https://www.swiggy.com/rate/147369536795?type=delivery&amp;rating=0&amp;rateAll=true&amp;rating_source=email"
                                  alt=""
                                  target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=https://swiggy.onelink.me/eraU?pid%3DEMAIL%26c%3Dspeed_reliability%26af_dp%3Dswiggy%253A%252F%252Frating%253Forder_id%253D147369536795%2526rating_type%253Ddelivery%2526rating_source%253Demail%26af_force_deeplink%3Dtrue%26is_retargeting%3Dtrue%26af_web_dp%3Dhttps://www.swiggy.com/rate/147369536795?type%3Ddelivery%26rating%3D0%26rateAll%3Dtrue%26rating_source%3Demail&amp;source=gmail&amp;ust=1671355110872000&amp;usg=AOvVaw1rdmtrz_PDiPc2X-FAy-xX"
                                >here</a>
                              </p>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <br style="margin:0;padding:0" />
                    <div style="margin:0;padding:0 15px">
                      <table
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        style="margin:0;padding:0"
                      >
                        <tbody>
                          <tr style="margin:0;padding:0">
                            <td
                              width="25%"
                              style="margin:0;padding:0;margin-bottom:15px;font-weight:bold;font-size:12px;min-width:100px;max-width:100%;display:inline-block;vertical-align:top"
                            >
                              <p
                                style="margin:0;padding:0;margin-bottom:5px;color:#1a1a1a;font-weight:bold;font-size:14px;line-height:1.6"
                              >
                                Order No:
                              </p>
                              <h5
                                style="margin:0;padding:0;line-height:1.1;margin-bottom:5px;color:#1a1a1a;font-weight:900;font-size:14px"
                              >
                                {{order.number}}
                              </h5>
                            </td>
                            <td
                              width="60%"
                              style="margin:0;padding:0;margin-bottom:15px;font-weight:bold;font-size:12px;min-width:100px;max-width:100%;display:inline-block;vertical-align:top"
                            >

                              <p
                                style="margin:0;padding:0;margin-bottom:5px;color:#1a1a1a;font-weight:bold;font-size:14px;line-height:1.6"
                              >
                                Restaurant
                              </p>
                              <h5
                                style="margin:0;padding:0;line-height:1.1;margin-bottom:5px;color:#1a1a1a;font-weight:900;font-size:14px"
                              >
                                {{restaurant.name}}
                              </h5>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <br style="margin:0;padding:0" />

                    <div
                      style="margin:0 auto 15px;padding:0;max-width:600px;border-radius:3px;display:block;background:#fff"
                    >
                      <table
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        style="margin:0;padding:0"
                      >
                        <tbody>
                          <tr style="margin:0;padding:0">
                            <td style="margin:0;padding:0">
                            </td>
                            <td
                              style="margin:0 auto!important;padding:0;display:block!important;max-width:1000px!important;clear:both!important"
                            >
                              <br style="margin:0;padding:0" />
                              <div
                                style="margin:0 auto;padding:0;max-width:1000px;border-radius:3px;display:block;background:#fff"
                              >
                                <div
                                  style="min-height:calc(29.7cm - 140px);padding-bottom:100px"
                                >
                                  <div style="margin:0;padding:0 15px">
                                    <table
                                      width="100%"
                                      cellspacing="0"
                                      cellpadding="0"
                                      style="margin:0;padding:0"
                                    >
                                      <tbody>
                                        <tr style="margin:0;padding:0">
                                          <td style="margin:0;padding:0">
                                            <p
                                              style="margin:0;padding:0;margin-bottom:5px;color:#1a1a1a;font-weight:400;font-size:13px;line-height:1.6"
                                            >
                                              Your Order Summary:
                                            </p>

                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <br style="margin:0;padding:0" />
                                  <div style="margin:0;padding:0 12px">
                                    <table
                                      width="75%"
                                      cellspacing="0"
                                      cellpadding="0"
                                      style="margin:0;padding:0"
                                    >
                                      <tbody>
                                        <tr style="margin:0;padding:0">
                                          <td
                                            width="100%"
                                            style="margin:0;padding:0;font-size:13px;min-width:100px;max-width:100%;display:inline-block;vertical-align:top"
                                          >
                                            <p
                                              style="margin:0;padding:0;color:#1a1a1a;font-size:13px;line-height:1.6"
                                            >
                                              Order No:
                                              <strong>{{order.number}}</strong>
                                            </p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td
                                            width="100%"
                                            style="margin:0;padding:0;font-size:13px;min-width:100px;max-width:100%;display:inline-block;vertical-align:top"
                                          >
                                            <p
                                              style="margin:10px 0 0;padding:0;color:#1a1a1a;font-size:13px"
                                            >
                                              Order placed at:
                                              <strong>{{order.date}}</strong>
                                            </p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td
                                            width="100%"
                                            style="margin:0;padding:0;font-size:13px;min-width:100px;max-width:100%;display:inline-block;vertical-align:top"
                                          >

                                            <p
                                              style="margin:10px 0 0;padding:0;color:#1a1a1a;font-size:13px;line-height:1.2"
                                            >
                                              Order delivered at:
                                              <strong>{{order.date}}</strong>
                                            </p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td
                                            width="100%"
                                            style="margin:0;padding:0;font-size:13px;min-width:100px;max-width:100%;display:inline-block;vertical-align:top"
                                          >

                                            <p
                                              style="margin:10px 0 0;padding:0;color:#1a1a1a;font-size:13px;line-height:1.2"
                                            >
                                              Order Status:
                                              <strong>Delivered</strong>
                                            </p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td
                                            width="100%"
                                            style="margin-top:25px;padding:0;margin-bottom:12px;font-size:13px;min-width:100px;max-width:100%;display:inline-block;vertical-align:top"
                                          >
                                            <p
                                              style="margin:0;padding:0;margin-bottom:5px;color:#1a1a1a;font-size:13px;line-height:1.6"
                                            >
                                              Ordered from:
                                            </p>
                                            <h5
                                              style="margin:0;padding:0;line-height:1.5;margin-bottom:5px;color:#1a1a1a;font-weight:400;font-size:13px"
                                            >
                                              <strong>{{restaurant.name}}</strong>
                                            </h5>
                                            <p
                                              style="margin:0;padding:0;margin-bottom:0px;color:#585858;font-weight:normal;font-size:13px;line-height:1.6"
                                            >
                                              {{restaurant.address}}
                                            </p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <p
                                              style="margin:0;padding:0;color:#1a1a1a;font-size:13px"
                                            >
                                              Delivery To:
                                            </p>
                                            <p
                                              style="font-weight:bold;font-size:13px"
                                            >
                                              {{customer.name}}
                                            </p>
                                            <h5
                                              style="margin:0;padding:0;line-height:1.6;margin-bottom:5px;color:#585858;font-weight:normal;font-size:13px;width:300px"
                                            >
                                              {{customer.address}}
                                            </h5>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <br style="margin:0;padding:0" />
                                  <div style="margin:0;padding:0 15px">
                                    <table
                                      width="100%"
                                      cellspacing="0"
                                      cellpadding="0"
                                      style="margin:0;padding:0"
                                    >
                                      <thead
                                        style="margin:0;padding:0;text-align:left;background:#e9e9e9;border-collapse:collapse;border-spacing:0;border-color:#ccc"
                                      >
                                        <tr style="margin:0;padding:0">
                                          <th
                                            style="margin:0;padding:10px 15px;font-size:13px"
                                          >
                                            Item Name
                                          </th>
                                          <th
                                            style="margin:0;padding:10px 15px;font-size:13px;text-align:right;padding-right:180px"
                                          >
                                            Quantity
                                          </th>
                                          <th
                                            align="right"
                                            style="margin:0;padding:10px 15px;font-size:13px"
                                          >
                                            Price
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody style="margin:0;padding:0">
                                         {{#each order.lineItems}}
                                        <tr>
                                          <td><span>
                                            </span>
                                          </td>
                                        </tr>
                                        <tr style="margin:0;padding:0">
                                          <td
                                            style="vertical-align:top;margin:0;padding:10px;font-weight:normal;font-size:13px"
                                          >
                                            {{this.name}}
                                          </td>
                                          <td
                                            style="margin:0;text-align:right;padding:10px;font-weight:normal;font-size:13px;padding-right:200px"
                                          >
                                            {{this.quantity}}
                                          </td>

                                          <td
                                            align="right"
                                            style="margin:0;padding:10px;font-weight:normal;font-size:13px;padding-right:15px"
                                          >
                                            ₹&nbsp;{{this.total}}
                                          </td>
                                        </tr>

                                        <tr width="100%">
                                          <td>
                                            <div
                                              style="min-height:1px;width:100%;background:#e9e9e9;clear:both"
                                            >
                                            </div>
                                          </td>
                                          <td>
                                            <div
                                              style="min-height:1px;width:100%;background:#e9e9e9;clear:both"
                                            >
                                            </div>
                                          </td>
                                          <td>
                                            <div
                                              style="min-height:1px;width:100%;background:#e9e9e9;clear:both"
                                            >
                                            </div>
                                          </td>
                                        </tr>
                                        {{/each}}

                                        <tr>
                                          <td><span>

                                              <span>
                                                <span>
                                                </span></span></span>
                                          </td>
                                        </tr>
                                        <tr style="margin:0;padding:0">
                                          <td
                                            width="80%"
                                            scope="row"
                                            colspan="2"
                                            style="margin:0;padding:10px 0;text-align:right;font-weight:normal;border:0;font-size:13px"
                                          >
                                            Item Total:
                                          </td>

                                          <td
                                            width="20%"
                                            style="margin:0;padding:5px 0;font-weight:normal;border-bottom:0px solid #e9e9e9;font-size:13px;text-align:right;border:0;padding-right:15px"
                                          >
                                            ₹&nbsp;{{order.total}}
                                          </td>
                                        </tr>

                                        <tr>
                                          <td><span>

                                              <span>
                                                <span>
                                                </span></span></span>
                                          </td>
                                        </tr>
                                        <tr style="margin:0;padding:0">
                                          <td
                                            width="80%"
                                            scope="row"
                                            colspan="2"
                                            style="margin:0;padding:10px 0;text-align:right;font-weight:normal;border:0;font-size:13px"
                                          >
                                            Order Packing Charges:
                                          </td>

                                          <td
                                            width="20%"
                                            style="margin:0;padding:5px 0;font-weight:normal;border-bottom:0px solid #e9e9e9;font-size:13px;text-align:right;border:0;padding-right:15px"
                                          >
                                            ₹&nbsp;{{order.package}}
                                          </td>
                                        </tr>

                                        <tr>
                                          <td><span>

                                              <span>
                                                <span>
                                                </span></span></span>
                                          </td>
                                        </tr>
                                        <tr style="margin:0;padding:0">
                                          <td
                                            width="80%"
                                            scope="row"
                                            colspan="2"
                                            style="margin:0;padding:10px 0;text-align:right;font-weight:normal;border:0;font-size:13px"
                                          >
                                            Delivery partner fee:
                                          </td>

                                          <td
                                            width="20%"
                                            style="margin:0;padding:5px 0;font-weight:normal;border-bottom:0px solid #e9e9e9;font-size:13px;text-align:right;border:0;padding-right:15px"
                                          >
                                            ₹&nbsp;0.00
                                          </td>
                                        </tr>

                                        <tr>
                                          <td><span>

                                              <span>
                                                <span>
                                                </span></span></span>
                                          </td>
                                        </tr>
                                        <tr style="margin:0;padding:0">
                                          <td
                                            width="80%"
                                            scope="row"
                                            colspan="2"
                                            style="margin:0;padding:10px 0;text-align:right;font-weight:normal;border:0;font-size:13px"
                                          >
                                            Discount Applied:
                                          </td>
                                          <td
                                            width="20%"
                                            style="margin:0;padding:5px 0;font-weight:normal;border-bottom:0px solid #e9e9e9;font-size:13px;text-align:right;border:0;padding-right:15px"
                                          >
                                            - ₹&nbsp;{{order.discount}}
                                          </td>

                                        </tr>

                                        <tr>
                                          <td><span>

                                              <span>
                                                <span>
                                                </span></span></span>
                                          </td>
                                        </tr>
                                        <tr style="margin:0;padding:0">
                                          <td
                                            width="80%"
                                            scope="row"
                                            colspan="2"
                                            style="margin:0;padding:10px 0;text-align:right;font-weight:normal;border:0;font-size:13px"
                                          >
                                            Taxes:
                                          </td>

                                          <td
                                            width="20%"
                                            style="margin:0;padding:5px 0;font-weight:normal;border-bottom:0px solid #e9e9e9;font-size:13px;text-align:right;border:0;padding-right:15px"
                                          >
                                            ₹&nbsp;{{order.tax}}
                                          </td>
                                        </tr>

                                        <tr width="100%">
                                          <td>
                                            <div style="width:100%;clear:both">
                                            </div>
                                          </td>
                                          <td>
                                            <div
                                              style="min-height:15px;width:100%;clear:both"
                                            >
                                            </div>
                                          </td>
                                          <td>
                                            <div
                                              style="min-height:15px;width:100%;clear:both"
                                            >
                                            </div>
                                          </td>
                                        </tr>
                                        <tr
                                          style="margin:0;padding:0;color:#79b33b;background:#f9f9f9"
                                        >
                                          <th
                                            width="80%"
                                            scope="row"
                                            colspan="2"
                                            style="margin:0;padding:10px 0;text-align:right;font-weight:bold;border:0;font-size:13px"
                                          >
                                            Order Total:
                                          </th>
                                          <td
                                            width="20%"
                                            style="margin:0;padding:10px 0;font-weight:bold;border-bottom:1px solid #e9e9e9;font-size:13px;text-align:right;border:0;padding-right:15px"
                                          >
                                            ₹&nbsp;{{order.subtotal}}
                                          </td>
                                        </tr>

                                      </tbody>
                                    </table>
                                  </div>
                                  <div>
                                    <p
                                      style="color:#585858;font-size:13px;border-top:1px solid #ccc;padding:15px 40px"
                                    >
                                      The link to rate your delivery experience
                                      is only valid for mobile devices.
                                    </p>
                                  </div>
                                  <div>
                                    <p
                                      style="color:#585858;font-size:13px;border-top:1px solid #ccc;padding:15px 40px"
                                    >
                                      <b>Disclaimer</b>: Attached is the invoice
                                      for the restaurant services provided by
                                      the outlet. For items not covered in the
                                      attached invoice, the outlet shall be
                                      responsible to issue an invoice directly
                                      to you.
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td style="margin:0;padding:0">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div style="margin:0;padding:0">

                      <table
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        style="padding:0 15px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;margin:0"
                      >
                        <tbody>
                          <tr style="margin:0;padding:0">
                            <td style="margin:0;padding:0">

                              <table
                                align="left"
                                cellspacing="0"
                                cellpadding="0"
                                style="margin:0;padding:15px 0;max-width:112px"
                              >
                                <tbody>
                                  <tr style="margin:0;padding:0">
                                    <td style="margin:0;padding:0">
                                      <table
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                        style="font-family:Arial,Helvetica,sans-serif;font-size:11px;margin:0;padding:0"
                                      >
                                        <tbody style="margin:0;padding:0">
                                          <tr style="margin:0;padding:0">
                                            <td style="margin:0;padding:0">
                                              Get the App:&nbsp;&nbsp;
                                            </td>
                                            <td
                                              style="margin:0;padding:0;padding-right:5px"
                                            >
                                              <a
                                                href="http://swiggy.com/app?utm_source=swiggy&amp;utm_medium=customerorder"
                                                style="margin:0;padding:0;color:#2ba6cb;display:block"
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=http://swiggy.com/app?utm_source%3Dswiggy%26utm_medium%3Dcustomerorder&amp;source=gmail&amp;ust=1671355110873000&amp;usg=AOvVaw0GnQ14rb3WivHZUsJGViM9"
                                              >
                                                <img
                                                  style="height:15px;width:auto;margin:0;padding:0;max-width:100%;max-height:15px!important"
                                                  src="https://ci3.googleusercontent.com/proxy/tMasCp42kw6V9RQnbTnpdXtGcgaYSUjdA6BlDGs37r7LTOofSJIor3hy-O5eA6XS81lCUaKLopmAT-VJix5i1wAzyIMgX0zBlrv8mU9FpMckNHFVEyJrKWBFOU6EKtEFmC0IQlXOEyo4Z-pk4MndFathVw=s0-d-e1-ft#https://res.cloudinary.com/swiggy/image/upload/f_auto,fl_lossy,q_auto/v1447855172/Android_qt1acy"
                                                  class="CToWUd"
                                                  data-bit="iit"
                                                />
                                              </a>
                                            </td>
                                            <td
                                              style="margin:0;padding:0;padding-right:5px"
                                            >
                                              <a
                                                href="http://swiggy.com/app?utm_source=swiggy&amp;utm_medium=customerorder"
                                                style="margin:0;padding:0;color:#2ba6cb;display:block"
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=http://swiggy.com/app?utm_source%3Dswiggy%26utm_medium%3Dcustomerorder&amp;source=gmail&amp;ust=1671355110873000&amp;usg=AOvVaw0GnQ14rb3WivHZUsJGViM9"
                                              >
                                                <img
                                                  style="height:15px;width:auto;margin:0;padding:0;max-width:100%;max-height:15px!important"
                                                  src="https://ci6.googleusercontent.com/proxy/vibSjnzStok_imhU3Hx24roQj7mXFEMHh6p2FtumC-b2UMP5a43oYxnlZ_n1-tlfQJUcozVRe6mQ4437kmCcQP86bcGWhvwt6u8kvNaTR_qvVASZ1yHZPWUrnbjusJbsqxnO2Knqn0JyVSXl34abXr0=s0-d-e1-ft#https://res.cloudinary.com/swiggy/image/upload/f_auto,fl_lossy,q_auto/v1447855170/Apple_e7lnfc"
                                                  class="CToWUd"
                                                  data-bit="iit"
                                                /></a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                              <table
                                align="right"
                                cellspacing="0"
                                cellpadding="0"
                                style="margin:0;padding:15px 0;max-width:142px"
                              >
                                <tbody>
                                  <tr style="margin:0;padding:0">
                                    <td style="margin:0;padding:0">
                                      <table
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                        style="font-family:Arial,Helvetica,sans-serif;font-size:11px;margin:0;padding:0"
                                      >
                                        <tbody style="margin:0;padding:0">
                                          <tr style="margin:0;padding:0">
                                            <td
                                              style="margin:0;padding:0;text-align:left"
                                            >
                                              Follow us:&nbsp;&nbsp;
                                            </td>
                                            <td
                                              style="margin:0;padding:0;padding-right:5px"
                                            >
                                              <a
                                                href="https://www.facebook.com/swiggy.in"
                                                style="margin:0;padding:0;color:#2ba6cb;display:block"
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/swiggy.in&amp;source=gmail&amp;ust=1671355110873000&amp;usg=AOvVaw1DypCm37ZYuS_7x5ze05XS"
                                              >
                                                <img
                                                  style="height:15px;width:auto;margin:0;padding:0;max-width:100%;max-height:15px!important"
                                                  src="https://ci5.googleusercontent.com/proxy/BlrTbSp44rwv3tYTBsgXhwDWMayWL65YVmizf9weEfEkNuqp8ESuymFquZYiLGOdAvIja-S8Bq7kuDb7C21YKmtbgNb461538GyNR_furtXHGBfovsGhpWxWrBOjE-_Emyhhtqn_NdqTYWY8IqHyeHdgYAs=s0-d-e1-ft#https://res.cloudinary.com/swiggy/image/upload/f_auto,fl_lossy,q_auto/v1448875320/Facebook_dznper"
                                                  alt="Swiggy Facebook"
                                                  border="0"
                                                  class="CToWUd"
                                                  data-bit="iit"
                                                /></a>
                                            </td>
                                            <td
                                              style="margin:0;padding:0;padding-right:5px"
                                            >
                                              <a
                                                href="https://twitter.com/swiggy_in"
                                                style="margin:0;padding:0;color:#2ba6cb;display:block"
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/swiggy_in&amp;source=gmail&amp;ust=1671355110873000&amp;usg=AOvVaw0QdrIO1-r_LKqn4LU5fr0H"
                                              >
                                                <img
                                                  style="height:15px;width:auto;margin:0;padding:0;max-width:100%;max-height:15px!important"
                                                  src="https://ci3.googleusercontent.com/proxy/KrhHM8NqFFsvkR08vYRG_QonUs_MnDXBgTJiEmldlrwInUnR-u8yAwHZQBe2Xnd1wSfDrAJI00uwzokuN3lR6CuT7Mw6Tq4-TQfI0YZ4yZfPZoTHO25n4pm4byasLYGx6UYZ6vD7tw9JS7ZSTDgNFOA5a45MZqav9Q0=s0-d-e1-ft#https://res.cloudinary.com/swiggy/image/upload/f_auto,fl_lossy,q_auto/v1448871246/Twitter_stmvbr_q1eh0w"
                                                  alt="Swiggy Twitter"
                                                  border="0"
                                                  class="CToWUd"
                                                  data-bit="iit"
                                                /></a>
                                            </td>
                                            <td
                                              style="margin:0;padding:0;padding-right:5px"
                                            >
                                              <a
                                                href="https://www.pinterest.com/swiggyindia/"
                                                style="margin:0;padding:0;color:#2ba6cb;display:block"
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://www.pinterest.com/swiggyindia/&amp;source=gmail&amp;ust=1671355110873000&amp;usg=AOvVaw1lBkELbWNn0ZHNyuVzhiYO"
                                              >
                                                <img
                                                  style="height:15px;width:auto;margin:0;padding:0;max-width:100%;max-height:15px!important"
                                                  src="https://ci6.googleusercontent.com/proxy/g7cM5jO1Def-8caYtMv4N8xxgrcY78tO0y1xDUUKhavOT7geF7uTXCpZWkp7VEPuED8UtkGLCLoHpSI7n2lVpxzP6P3lnPWqyGD8kFDb3ZN3kZIET9Q6LsgG6dwjY7P9SCIlXrfKjnONSo5dARNZFsHmc3E0=s0-d-e1-ft#https://res.cloudinary.com/swiggy/image/upload/f_auto,fl_lossy,q_auto/v1447855171/Pinterest_dd2nv9"
                                                  alt="Swiggy pinterest"
                                                  border="0"
                                                  class="CToWUd"
                                                  data-bit="iit"
                                                /></a>
                                            </td>
                                            <td
                                              style="margin:0;padding:0;padding-right:5px"
                                            >
                                              <a
                                                href="https://instagram.com/swiggyindia/"
                                                style="margin:0;padding:0;color:#2ba6cb;display:block"
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://instagram.com/swiggyindia/&amp;source=gmail&amp;ust=1671355110873000&amp;usg=AOvVaw0ifpBrOVBzXmqXmckwC50r"
                                              >
                                                <img
                                                  style="height:15px;width:auto;margin:0;padding:0;max-width:100%;max-height:15px!important"
                                                  src="https://ci6.googleusercontent.com/proxy/28hchxdo1onpCI2VSCwmKlPDDvnwK1TxVFbBeMkF7J_XfnA6KSVpSDHwYALjrnZ4YopOjfdhYddBCvv-A20WsHYdsb33FeY7HYpL9yyrT0w5_OoVgcg2vnJ61WYSwdUGth9NOml2YGHX0YBcto2te6S-3q_x=s0-d-e1-ft#https://res.cloudinary.com/swiggy/image/upload/f_auto,fl_lossy,q_auto/v1447855170/Instagram_okx3pg"
                                                  alt="Swiggy instagram"
                                                  border="0"
                                                  class="CToWUd"
                                                  data-bit="iit"
                                                /></a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div style="margin:0;padding:0 15px;background:#fbfbfb">
                      <br style="margin:0;padding:0" />
                      <table
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        style="margin:0;padding:0"
                      >
                        <tbody>
                          <tr style="margin:0;padding:0">
                            <td style="margin:0;padding:0">
                              <table
                                width="100%"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                                style="font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#9b9b9b;margin:0;padding:0"
                              >
                                <tbody style="margin:0;padding:0">
                                  <tr style="margin:0;padding:0">
                                    <td
                                      align="center"
                                      style="margin:0;padding:0"
                                    >
                                      ©2022-Swiggy. All rights reserved.
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                        border="0"
                        align="center"
                        style="font-family:Arial,Helvetica,sans-serif;font-size:10px;padding:10px 0;color:#9b9b9b;margin:0"
                      >
                        <tbody style="margin:0;padding:0">
                          <tr style="margin:0;padding:0">
                            <td
                              align="center"
                              width="33.3333%"
                              style="margin:0;padding:0"
                            >
                              Swiggy,Tower D, 9th Floor, IBC Knowledge Park,
                              Bannerghatta Road, Bangalore - 560029
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <br style="margin:0;padding:0" />
                    </div>
                  </div>

                </td>
                <td style="margin:0;padding:0">
                </td>
              </tr>
            </tbody>
          </table>
          <div class="yj6qo">
          </div>
          <div class="adL">
          </div>
        </div>
      </div>
      <div id=":o5" class="ii gt" style="display:none">
        <div id=":o4" class="a3s aiL">
        </div>
      </div>
      <div class="hi">
      </div>
    </div>
  </body>

</html>