<html><head>
    <title>FreeCharge.in - Recharge Made Free</title>

    <link rel="apple-touch-icon" href="https://dmx246cm6p7k8.cloudfront.net/content/images/favicon-new.ico">
    <link rel="icon" href="https://dmx246cm6p7k8.cloudfront.net/content/images/favicon-new.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://dmx246cm6p7k8.cloudfront.net/content/images/favicon-new.ico" type="image/x-icon">
    <link href="https://dmx246cm6p7k8.cloudfront.net/content/css/base.css?v=4154010069798556" rel="stylesheet" type="text/css">
    <link href="https://dmx246cm6p7k8.cloudfront.net/content/css/layout.css?v=4154010069798556" rel="stylesheet" type="text/css">
    <link href="https://dmx246cm6p7k8.cloudfront.net/content/css/invoice.css?v=4154010069798556" rel="stylesheet" type="text/css">
    <link href="https://dmx246cm6p7k8.cloudfront.net/content/css/ie6.css?v=4154010069798556" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 7]>
      <link
        rel="stylesheet"
        media="all"
        href="css/ie6.css?v=4154010069798556"
      />
    <![endif]-->

    </head><body id="invoiceWrapper" data-new-gr-c-s-check-loaded="14.1098.0" data-gr-ext-installed=""><iframe src="javascript:void(0)" title="" role="presentation" style="width: 0px; height: 0px; border: 0px; display: none;"></iframe>
    <iframe src="javascript:void(0)" title="" role="presentation" style="width: 0px; height: 0px; border: 0px; display: none;"></iframe><script>
      !(function(a) {
        var e = 'https://s.go-mpulse.net/boomerang/',
          t = 'addEventListener';
        if ('False' == 'True')
          (a.BOOMR_config = a.BOOMR_config || {}),
            (a.BOOMR_config.PageParams =
              a.BOOMR_config.PageParams || {}),
            (a.BOOMR_config.PageParams.pci = !0),
            (e = 'https://s2.go-mpulse.net/boomerang/');
        if (
          ((window.BOOMR_API_key = '55Y7K-KYRBA-BJJ8S-HPZX7-SVJKA'),
          (function() {
            function n(e) {
              a.BOOMR_onload =
                (e && e.timeStamp) || new Date().getTime();
            }
            if (
              !a.BOOMR ||
              (!a.BOOMR.version && !a.BOOMR.snippetExecuted)
            ) {
              (a.BOOMR = a.BOOMR || {}),
                (a.BOOMR.snippetExecuted = !0);
              var i,
                _,
                o,
                r = document.createElement('iframe');
              if (a[t]) a[t]('load', n, !1);
              else if (a.attachEvent) a.attachEvent('onload', n);
              (r.src = 'javascript:void(0)'),
                (r.title = ''),
                (r.role = 'presentation'),
                ((r.frameElement || r).style.cssText =
                  'width:0;height:0;border:0;display:none;'),
                (o = document.getElementsByTagName('script')[0]),
                o.parentNode.insertBefore(r, o);
              try {
                _ = r.contentWindow.document;
              } catch (O) {
                (i = document.domain),
                  (r.src =
                    "javascript:var d=document.open();d.domain='" +
                    i +
                    "';void(0);"),
                  (_ = r.contentWindow.document);
              }
              (_.open()._l = function() {
                var a = this.createElement('script');
                if (i) this.domain = i;
                (a.id = 'boomr-if-as'),
                  (a.src = e + '55Y7K-KYRBA-BJJ8S-HPZX7-SVJKA'),
                  (BOOMR_lstart = new Date().getTime()),
                  this.body.appendChild(a);
              }),
                _.write('<bo' + 'dy onload="document._l();">'),
                _.close();
            }
          })(),
          ''.length > 0)
        )
          if (
            a &&
            'performance' in a &&
            a.performance &&
            'function' ==
              typeof a.performance.setResourceTimingBufferSize
          )
            a.performance.setResourceTimingBufferSize();
        !(function() {
          if (
            ((BOOMR = a.BOOMR || {}),
            (BOOMR.plugins = BOOMR.plugins || {}),
            !BOOMR.plugins.AK)
          ) {
            var e = '' == 'true' ? 1 : 0,
              t = '',
              n =
                'm6yipnqxgl7cszaalgfa-f-c254c10c4-clientnsv4-s.akamaihd.net',
              i = 'false' == 'true' ? 2 : 1,
              _ = {
                'ak.v': '34',
                'ak.cp': '469518',
                'ak.ai': parseInt('359935', 10),
                'ak.ol': '0',
                'ak.cr': 17,
                'ak.ipv': 4,
                'ak.proto': 'h2',
                'ak.rid': '8aea84b',
                'ak.r': 37487,
                'ak.a2': e,
                'ak.m': 'dscb',
                'ak.n': 'essl',
                'ak.bpcip': '103.176.135.0',
                'ak.cport': 53818,
                'ak.gh': '23.212.253.188',
                'ak.quicv': '',
                'ak.tlsv': 'tls1.3',
                'ak.0rtt': '',
                'ak.csrc': '-',
                'ak.acc': '',
                'ak.t': '1677744522',
                'ak.ak':
                  'hOBiQwZUYzCg5VSAfCLimQ==yiN3vtvR0QUSZ/9LhnD1hQi9Vuy/A8BauSlqWt15+1Fo3Wcr43QUz3y3Fcgb8fvJVQG6YB69RursVq+PA2/9/vxBYngI8k6FSQ69Ie95XXBqj5nRMW12/k9RgEhDzapoXxtak2SKFi0mMdjISiwEirEM0kcSRK1i16SfGstcAugf+LEobHrJwvCbXpY3rHOi0YpfqajBk1LRbZktFDUEg/Ems6G4PxieDfAYffoodDkKiJhVK6Vdt6g9n9FdbUYSmbDFOC1Z9kyyV+/td9KsjhVq2J9MIpiv+atYNDnWco2Sc0EsYqB+YKpEM9OEPvpxyl233guBqTMU2ESleoxXhYrvnpe0HDdbKFiHnOEXNDBMGGrFYEPNdQtO3e0AYW4azeVMPXQ/nSPBYI7MgTIGBVfEfRb0yPOlElDf29nm0Yc=',
                'ak.pv': '99',
                'ak.dpoabenc': '',
                'ak.tf': i
              };
            if ('' !== t) _['ak.ruds'] = t;
            var o = {
              i: !1,
              av: function(e) {
                var t = 'http.initiator';
                if (e && (!e[t] || 'spa_hard' === e[t]))
                  (_['ak.feo'] = void 0 !== a.aFeoApplied ? 1 : 0),
                    BOOMR.addVar(_);
              },
              rv: function() {
                var a = [
                  'ak.bpcip',
                  'ak.cport',
                  'ak.cr',
                  'ak.csrc',
                  'ak.gh',
                  'ak.ipv',
                  'ak.m',
                  'ak.n',
                  'ak.ol',
                  'ak.proto',
                  'ak.quicv',
                  'ak.tlsv',
                  'ak.0rtt',
                  'ak.r',
                  'ak.acc',
                  'ak.t',
                  'ak.tf'
                ];
                BOOMR.removeVar(a);
              }
            };
            BOOMR.plugins.AK = {
              akVars: _,
              akDNSPreFetchDomain: n,
              init: function() {
                if (!o.i) {
                  var a = BOOMR.subscribe;
                  a('before_beacon', o.av, null, null),
                    a('onbeacon', o.rv, null, null),
                    (o.i = !0);
                }
                return this;
              },
              is_complete: function() {
                return !0;
              }
            };
          }
        })();
      })(window);
    </script>
  
  
    <div class="pageWidth" style="width:963px">
      <h1 class="invoicePageHeader">
        <strong>Thank you!!! </strong>for using www.freecharge.in
      </h1>
      <div class="invvoiceMainConatienr">
        <div class="invoiceCont">
          <div class="invoiceContHeader clearfix">
            <h4 class="titleMain fLeft">TAX INVOICE</h4>
            <a href="#" class="invoiceLogo fRight"><img src="https://dmx246cm6p7k8.cloudfront.net/content/images/logo/freecharge.png" alt="FreeCharge.in - Recharge Made Free" width="151" height="34"></a>
          </div>
          <!-- /.invoiceContHeader -->

          <div class="invoiceContMiddle clearfix">
            <div class="detailsOuter clearfix">
              <ul class="detailsList fLeft">
                <li>
                  <span class="ltTxt">Customer Name</span>
                  <span class="rtTxt">:&nbsp; {{customer.name}}</span>
                </li>
                <li>
                  <span class="ltTxt">Order Id</span>
                  <span class="rtTxt">:&nbsp; {{order.number}}</span>
                </li>
                <li>
                  <span class="ltTxt">Mobile no</span>
                  <span class="rtTxt">:&nbsp; {{customer.phone}}</span>
                </li>

                <li>
                  <span class="ltTxt">Recharge done for</span>
                  <span class="rtTxt">:&nbsp; {{customer.phone}}</span>
                </li>

                <li>
                  <span class="ltTxt">Registered Email</span>
                  <span class="rtTxt">:&nbsp; {{customer.email}}</span>
                </li>
                <li>
                  <span class="ltTxt">Date </span>
                  <span class="rtTxt">:&nbsp; {{order.date}}</span>
                </li>
                <li>
                  <span class="ltTxt">Account Number </span>
                  <span class="rtTxt">:&nbsp; {{customer.account}} </span>
                </li>
                <li>
                  <span class="ltTxt">Service Accounting code </span>
                  <span class="rtTxt">:&nbsp; 00998599</span>
                </li>
                <li>
                  <span class="ltTxt">Mode Of Payment </span>
                  <span class="rtTxt">:&nbsp; UPI</span>
                </li>
                <li>
                  <span class="ltTxt">Transaction Id </span>
                  <span class="rtTxt">:&nbsp; {{order.number}}
                    </span>
                </li>
              </ul>
              <!-- /.detailsList -->

              <div class="paymentTable fRight">
                {{#each order.lineItems}}
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="invoiceTable">
                  <tbody>
                    <tr>
                      <th width="11%" class="center">S.No</th>
                      <th width="55%">Particular</th>
                      <th width="34%">Amount</th>
                    </tr>
                    <tr>
                      <td class="center">1.</td>
                      <td>Transaction Amount</td>
                      <td>Rs. {{this.price}}.00</td>
                    </tr>
                    <tr>
                      <td class="center">2.</td>

                      <td>Payment Handling Charges</td>

                      <td>Rs.</td>
                    </tr>

                    <tr>
                      <td class="center">3.</td>
                      <td>Taxable Value of Supply</td>
                      <td>Rs. {{this.price}}.00</td>
                    </tr>

                    <tr>
                      <td class="center">4.</td>
                      <td>CGST @9%</td>
                      <td>Rs. {{this.tax}}</td>
                    </tr>
                    <tr>
                      <td class="center">5.</td>
                      <td>SGST @9%</td>
                      <td>Rs. {{this.tax}}</td>
                    </tr>
                    <tr>
                      <td class="center">6.</td>
                      <td>IGST @18%</td>
                      <td>Rs. 0</td>
                    </tr>
                    <tr>
                      <td class="center">7.</td>
                      <td>Place of Supply (State Code)</td>
                      <td>()</td>
                    </tr>

                    <tr>
                      <td colspan="2">Total Amount</td>
                      <td>Rs. {{add this.price this.tax this.tax}}</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        Whether the tax is payable on reverse charge
                        basis
                      </td>
                      <td>No</td>
                    </tr>
                  </tbody>
                </table>
                {{/each}}
                <!-- /.invoiceTable -->
              </div>
              <!-- /paymentTable -->
            </div>

            <p class="contactDetails cl" style="font-size:12px">
              Freecharge Payment Technologies Pvt. Ltd
              <br>Registered Address: 2nd Floor, Plot No. 25, Pusa
              Road, New Delhi,Central Delhi,Delhi,110005 <br>Address
              : 11th Floor, Tower C, DLF Cyber Greens, DLF Cyber City,
              DLF Phase 3 , Gurugram,Haryana,122002, India <br>CIN:
              U74140DL2015PTC275419 <br>Website: www.freecharge.in
              <br>GSTIN: 06AAFCK7217F1ZO <br>Company PAN No.
              AAFCK7217F <br>Service Category: Other Support
              Services <br>Contact us at care@freecharge.com
            </p>
            <p class="contactDetails cl" style="text-align:right">
              <img src="https://d32vr05tkg9faf.cloudfront.net/content/images/invoice/SignInvoice.png">
              <br>
              Authorised Signatory
            </p>
          </div>
          <!-- /.invoiceContMiddle -->
        </div>
        <!-- /.invoiceCont -->
      </div>
      <!-- /.invvoiceMainConatienr -->
    </div>
    <!-- /.pageWidth -->
  
  <grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>

</body></html>